# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode project user state
*.xcworkspace/xcuserdata/
CueMe.xcodeproj/project.xcworkspace/xcuserdata/
CueMe.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Misc
*.log
*.profraw

# build artifacts
dist/
